{% set posts = podcastEpisodes.posts %}

<section class="podcast-episodes container-fluid p-5 text-center">

    <div class="row h-100">
        {% for post in posts %}
        <div class="podcast-episode col-md-4">
            {% if post.featured_images.count %}
            <div class="post-list-article-featured-image" id="post-list-featured-images-top">
                {% for image in post.featured_images|slice(0, 1) %}
                <a href="{{ post.url }}">
                    <img class="podcast-episode-img img-fluid" data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description != null ? image.description : image.filename }}" title="{{ image.title != null ? image.title : post.title }}">
                </a>
                {% endfor %}
            </div>
            {% endif %}
            <h2 class="podcast-episode-title header2"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="podcast-episode-desc">{{ post.excerpt | raw }}</p>
            <a class="podcast-episode-listen-btn btn-outline" href="{{ post.url }}">listen now</a>
        </div>

        {% else %}
        <div class="no-data">{{ podcastEpisodes.noPostsMessage }}</div>
        {% endfor %}
    </div>

</section>


<div class="col-md-12 row justify-content-center mt-4 mb-2">
    <nav aria-label="Page navigation example">

        {% if posts.lastPage > 1 %}
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}


            {% for page in 1..posts.lastPage %}
            <li class="page-item  {{ posts.currentPage == page ? 'active' : null }}"><a class="page-link" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}">{{page}}</a></li>
            {% endfor %}
          
            {% if posts.lastPage > posts.currentPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>