@import "base";

.post-article {

  margin: 2rem 1rem 0;
  padding-bottom: 2rem;

  .article-info {
    font-size: 18px;
  }

  .article-featured-image {

    img {
      width: 100%;
    }
  }

  .article-content {

    p {
      font-family: $articleBodyFontFamily;
      font-size: 21px;
      color: #252525;
      margin-top: 2rem;
      line-height: 32px;
    }
  }
}

