@import "base";

.article-body {
    width: 100%;
    padding: 2rem 1rem;

    .article-info {
        font-size: 18px;
    }

    .article-content {

        img {
            max-width: 100%;

            @include media-breakpoint-up(sm) {
                max-width: 66%;
                display: block;
                margin: 0 auto;
            }
        }

        p {
            font-family: $articleBodyFontFamily;
            font-size: 21px;
            color: #252525;
            margin-top: 2rem;
            line-height: 32px;
        }
    }
}
