{% set posts = blogPosts.posts %}

<div class="row container-xl post-list-container">
    {% for post in posts %}
    <article class="col-md-6 post-list-article">
        {% if post.featured_images.count %}
        <div class="post-list-article-featured-image" id="post-list-featured-images-top">
            {% for image in post.featured_images|slice(0, 1) %}
            <a href="{{ post.url }}">
                <img class="img-fluid" data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description != null ? image.description : image.filename }}" title="{{ image.title != null ? image.title : post.title }}">
            </a>
            {% endfor %}
        </div>
        {% endif %}
        <h2 class="post-list-article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="post-list-article-date">
            {{ post.published_at | date('F jS, Y') | trans }}

            <span class=\"date-separator\">|</span>
            {% if post.categories.count %}
            <!-- {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join("<span class=\"separator\">, </span>") %} -->
            <!-- {{ categoryLinks | trans }} -->

            {% for tag in post.categories %}
            <a href="{{tag.url}}"> {{tag.name}} </a>
            
            {%if loop.last == false %}
            <span class=\"separator\">, </span>
            {% endif %}
            {% endfor %}

            {% else %}
            Uncategorized
            {% endif %}
        </p>
        <p class="post-list-article-excerpt">{{ post.excerpt | raw }}</p>
        <a class="post-list-article-btn btn-outline" href="{{ post.url }}">Read this post</a>
    </article>
    {% else %}
    <div class="no-data">{{ blogPosts.noPostsMessage }}</div>
    {% endfor %}


<div class="col-md-12 row justify-content-center mt-4 mb-2">
    <nav aria-label="Page navigation example">

        {% if posts.lastPage > 1 %}
        <ul class="pagination">
            <li class="page-item">
                {% if posts.currentPage > 1 %}
                <a class="page-link" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
                </a>
            </li>
            {% endif %}

            {% for page in posts.page %}
                <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
                    <a class="page-link" href="{{ this.page.baseFileName | page({ (podcastEpisodes.pageParam): page }) }}">ddsdasdsa{{ page }}</a>
                </li>
            {% endfor %}
            
            {% if posts.lastPage > posts.currentPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>
